<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Puddle</title>
</head>
<body>
    <nav class="py-4 px-4 flex flex-col sm:flex-row sm:justify-between sm:items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold mb-2 sm:mb-0">Puddle</a>
        <div class="space-x-0 sm:space-x-4 flex flex-col sm:flex-row items-center">
            <a href="{% url 'new' %}" class="text-lg font-semibold hover:text-gray-500 mb-2 sm:mb-0">New item</a>
            <a href="{% url 'items' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>
        </div>
    </nav>

    <div class="px-4 py-6">
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="space-y-4">
                {{ form.as_p }}
            </div>

            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-4 bg-red-100 rounded-xl">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <button class="mt-6 py-3 px-6 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white w-full">Submit</button>
        </form>
    </div>
</body>
</html>